# Cleaning Data & ETL Proccess - Data Engineer

## Pengantar
Dimasa pandemi seperti ini, kompetisi coding seperti Competitive Programming maupun Hackathon banyak diselenggarakan karena sangat memungkinkan untuk dilakukan secara online.

Hackathon merupakan kompetisi membuat perangkat lunak (software) yang dilaksanakan secara marathon yang biasanya diikuti secara tim. Umumnya, peserta hackathon diminta untuk mengembangkan platform (mobile, web, desktop, dll.) dalam kurun waktu tertentu untuk menyelesaikan permasalahan yang sudah ditetapkan / didefinisikan oleh penyelenggara ataupun berdasarkan tema yang dipilih oleh tim tersebut.

Untuk bisa mengikuti hackathon dari suatu instansi, calon peserta diwajibkan untuk mendaftarkan diri mereka pada situs/form tertentu dengan memasukkan beberapa informasi yang diminta oleh penyelenggara tersebut.

Pada proyek kali ini, Anda diminta untuk mengolah data pendaftar hacktahon yang diselenggarkan oleh DQLab bernama DQThon. Dataset ini terdiri dari 5000 baris data (5000 pendaftar) dengan format CSV (Comma-separated values) dan memiliki beberapa kolom diantaranya:

* participant_id: ID dari peserta/partisipan hackathon. Kolom ini bersifat unique sehingga antar peserta pasti memiliki ID yang berbeda
* first_name: nama depan peserta
* last_name: nama belakang peserta
* birth_date: tanggal lahir peserta
* address: alamat tempat tinggal peserta
* phone_number: nomor hp/telfon peserta
* country: negara asal peserta
* institute: institusi peserta saat ini, bisa berupa nama perusahaan maupun nama universitas
* occupation: pekerjaan peserta saat ini
* register_time: waktu peserta melakukan pendaftaran hackathon dalam second

Namun pada proyek ini nantinya Anda diminta untuk menghasilkan beberapa kolom dengan memanfaatkan kolom-kolom yang ada, sehingga akhir dari proyek ini berupa hasil transformasi data dengan beberapa kolom baru selain dari 10 kolom diatas Sebagai pemanasan dalam proyek ini, Anda dipersilakan untuk membuka isi dataset nya dan melihat values nya. Jika sudah siap dengan perjalanan di proyek ini, silakan klik Lanjut

## Extract, Transform, Load
Extract, Transform dan Load (ETL) merupakan kumpulan proses untuk "memindahkan" data dari satu tempat ke tempat lain.
Tempat yang dimaksud adalah dari sumber data (bisa berupa database aplikasi, file, logs, database dari 3rd party, dan lainnya)
ke data warehouse. Apa itu data warehouse? Singkatnya, data warehouse merupakan database yang berisi data-data (tabeltabel) yang sudah siap untuk dilakukan analisis oleh Data Analyst maupun Data Scientist. Lebih lengkapnya bisa dilihat di:
https://en.wikipedia.org/wiki/Data_warehouse. Pada modul ini kita akan mempelajari masing-masing dari proses tersebut.

## Extract
Extract merupakan proses meng-ekstraksi data dari sumber, sumber data ini bisa berupa relational data (SQL) atau tabel, nonrelational (NoSQL) maupun yang lainnya. Tugas Anda adalah baca terlebih dahulu dataset ini sebagai CSV agar nantinya bisa
diolah, file tersebut bisa diakses di path dqthon-participants.csv .

In [5]:
import pandas as pd
df_participant = pd.read_csv("C:/Users/ACER 4736/Documents/d1.csv")
print(df_participant)
type(df_participant)

                          participant_id first_name    last_name   birth_date  \
0   bd9b6f88-b84f-4c4d-90f8-b67fe2f1a29a      Citra   Nurdiyanti  05 Feb 1991
1   7dfe3391-6f40-47b6-b4db-0c76ebaf5fc3       Aris     Setiawan  11 Jan 1993
2   19582d7f-b824-4fe5-a517-d5bf573fc768   Cornelia    Handayani  31 Jul 1993
3   aeb6d817-25f3-4867-8a74-8d92e0a0f633      Soleh       Rajasa  04 Nov 1991
4   1fdabdd9-5444-4c97-87b2-fe8833ad0d27       Vivi       Astuti  22 Jan 2003
5   f1e8749d-6dec-4ede-be25-efb31ce80f99  Bahuraksa   Mangunsong  13 Nov 1997
6   707219fa-cb0b-467c-ad32-e99c61603020      Tiara      Maryati  10 Mar 1994
7   bc4e9cc3-f49b-40a2-905c-3e9dcf3af958      Dimaz      Gunarto  16 Feb 2000
8   7ca0a2e8-bab0-42a3-b6aa-ef4df35c7800       Zizi    Puspasari  11 Apr 2002
9   7db879a6-eae5-4cf3-87da-c452df8e99c1      Cecep     Haryanto  15 Jan 1994
10  ae29b7cb-837c-4f78-957a-f8f7dcd3d6f0      Vanya     Yuliarti  09 Apr 1998
11  f6abbf84-2979-4f07-ac18-f4028bf009ac      Yahya      Damanik  30 Jun 1993
12  ff1228c9-cbb8-4c85-abd3-2200ee871599    Natalia      Hartati  03 Oct 1992
13  511d94e6-ee70-4afe-8516-4df0d7f74698      Karja    Sihombing  14 Feb 1998
14  5bb00c77-c91d-47bc-9dbc-996efcd5b76e      Maria        Utami  30 Oct 2002
15  b11b5a7b-654f-4a6a-84be-6c9bfc116c94      Kalim     Simbolon  19 May 1995
16  8f5cc17e-71b5-47a4-b70e-fae7d7a0c46f      Kezia      Wahyuni  20 Nov 1992
17  407116ef-fb38-432f-b62e-d955d9ca1712     Saiful     Dongoran  01 Sep 1992
18  17dd1666-818e-4681-bedd-b9f016096c74        Ani        Utami  06 Jan 1997
19  88bede2b-2d5a-45c6-8ade-c1a3289f2728       Heru   Anggriawan  14 Apr 1992
20  3810d4c7-9c7f-4f46-95e6-dd81ff5f9356       Qori      Lestari  08 Oct 1998
21  540a4551-222c-4508-be21-919bc920f667     Caraka      Damanik  28 Jul 1991
22  37f4aed3-5e39-4620-ac1e-6b82f3ea1a8e  Anastasia    Oktaviani  21 Aug 1996
23  1abb5ace-e2f8-4ac3-90d5-cdd70838ca50     Kusuma     Pradipta  04 Jan 1991
24  80c5fc2b-c315-42d0-9a6f-101314baff32       Rina  Pudjiastuti  04 Dec 2001
25  83d9dbf8-f13d-4171-989a-8995ec10468e    Cengkal       Habibi  12 Aug 1991
26  f8d019ac-5beb-4855-be29-ecc5c39d4d7f      Wulan       Melani  22 Aug 2000
27  f26e2057-3968-423f-a948-575e577f8c0d    Daryani      Prayoga  24 Apr 2000
28  c96ad235-14db-41ec-ad57-11e8898df1da    Jamalia       Namaga  22 Jan 1995
29  0effee30-7b9a-42b4-bc99-0bd9b10324b2  Bahuraksa     Wibisono  06 Apr 2001
30  71505ac6-794d-4946-953f-7b12048265ba   Zulaikha     Nasyidah  26 Jul 2000
31  6e3c03ca-bedd-415d-9999-ebf5881d2f01     Bancar       Irawan  18 Dec 1999
32  af37c148-9f5d-4d4e-b456-252392560602      Cinta    Wulandari  15 Feb 2000
33  99d5d514-ca2e-4d17-914c-160b71e9a356      Nrima      Siregar  08 Aug 1990
34  a9630a68-4cf5-475b-a4ec-3a9ee93c57a7       Febi    Oktaviani  09 Feb 1991
35  c0375575-613f-45df-b3da-49b9898477fd      Dimaz       Kusumo  03 Aug 1997
36  991719c9-8b2c-43b1-a7a5-5dc2d4af57cc      Yessi    Mandasari  04 Jun 1993
37  6ab3f165-e7d7-4ba7-9f30-436a480dcc3f  Bahuwarna      Gunawan  03 May 1997
38  4dcc4e9c-2ec2-44be-a213-a25afca02fd8      Clara   Laksmiwati  18 Jan 2001
39  07cf47d3-4330-45ae-ac3a-294397adaabb       Luis        Tamba  16 Dec 1994
40  9b1fadef-1deb-4afb-afde-9e789a0c2382      Gilda    Mandasari  17 Aug 2002
41  661bcc0c-d900-48b8-bb79-f8c6fe2cbfb4   Balapati      Prabowo  20 Apr 1992
42  c9e36f08-c498-4c6b-8191-b5226704544d  Gabriella       Farida  18 Oct 1998
43  4d7035e8-d8ed-483b-937a-ab31a05d91cc    Cahyono     Sihotang  14 Feb 1995
44  3b2bf1c2-c078-45d5-9f23-60fdd7ba4057     Azalea        Utami  26 Feb 1995
45  dbe26e41-fc49-4e0a-ba49-e0a0852f778e    Daliman      Jailani  06 Feb 1995
46  82819e0f-35c2-4327-a463-fae229a9a43f     Latika       Namaga  25 Feb 2001
47  9bdcd8ce-b035-4d1c-8519-af82eaf17a75     Radika      Gunawan  12 Nov 1998
48  547f9485-c69a-4db6-9ef0-2b0f773798ce        Ami     Suryatmi  09 Mar 1996
49  2459ff35-0a2f-4873-9cc6-1327240d3333     Lembah      Jailani  24 Apr 1994
50  8185b5ca-cbda-4fe2-9c0d-e5fc90dd6c93      Nurul   Laksmiwati  13 Nov 1994
51  2c309aeb-f51a-4be3-a3b7-349d6a9510c8      Warsa        Uwais  11 May 1995
52  eb45b7f6-3d6e-481c-9dd2-f74b723f6628      Nilam   Nurdiyanti  23 Nov 1991
53  21f5bc56-f21d-45f1-a9c5-535cf6eb677d     Lutfan      Jailani  23 Feb 2002
54  81326c33-51fd-47f0-b3fc-6f895fa68a0e      Winda    Wulandari  17 Jun 1992
55  5f084245-58cb-4360-8cff-112f06f7214e      Mitra     Latupono  27 Apr 2000
56  fc6e142a-3f66-4330-9975-8c1dc7f9bb03      Indah    Rahmawati  06 Mar 1996
57  4521ff9f-4aec-401b-84aa-a4e6fc6549a4      Irsad     Najmudin  14 Feb 2003
58  1c91596e-427c-44a7-b7d0-974f44e18381      Carla     Nasyidah  22 Aug 1994
59  5d682e84-bcb5-43e9-8ce0-615364f5376a    Darmana      Maryadi  09 Feb 2002

                                              address         phone_number  \
0          Gg. Monginsidi No. 08\r\nMedan, Aceh 80734      (0151) 081 2706
1    Gg. Rajawali Timur No. 7\r\nPrabumulih, MA 09434   +62 (036) 461 7027
2            Jalan Kebonjati No. 0\r\nAmbon, SS 57739         089 833 6695
3   Jl. Yos Sudarso No. 109\r\nLubuklinggau, SR 76156   +62 (418) 329-4756
4   Jalan Gardujati No. 53\r\nKediri, Sulawesi Ten...           0812511835
5      Jl. Pacuan Kuda No. 58\r\nDenpasar, Aceh 00880    +62 (11) 369-7082
6         Gg. Cihampelas No. 4\r\nSamarinda, KT 48108      (0244) 430 7220
7          Gg. Sukabumi No. 7\r\nParepare, Bali 64255   +62 (056) 931-9059
8                  Gg. Peta No. 01\r\nMedan, BE 89056    +62 (11) 826-1289
9   Jalan Cempaka No. 8\r\nBitung, Kalimantan Bara...    +62 (86) 156 1327
10  Gang Laswi No. 34\r\nKediri, Sulawesi Barat 18717   +62 (004) 561 6831
11  Gang HOS. Cokroaminoto No. 74\r\nBau-Bau, MA 4...     +62-304-075-1010
12      Jl. Sukajadi No. 387\r\nGorontalo, Aceh 40645     +62-766-738-4901
13  Jl. Rajawali Timur No. 0\r\nBatam, Kalimantan ...      +62-57-926-3059
14     Gg. Astana Anyar No. 06\r\nPagaralam, KT 46071   +62 (447) 608 1087
15  Jalan Cikapayang No. 703\r\nTidore Kepulauan, ...       (093) 063-0588
16  Jl. S. Parman No. 8\r\nKota Administrasi Jakar...   +62 (857) 263-5384
17            Jl. Cempaka No. 83\r\nTarakan, KU 31450   +62 (631) 363 8240
18          Gg. Rumah Sakit No. 49\r\nDepok, AC 30846     +62-783-529-5810
19  Jl. Tebet Barat Dalam No. 003\r\nPalangkaraya,...         083 504 5393
20  Gg. Ir. H. Djuanda No. 36\r\nSolok, Sulawesi S...    +62-0748-723-1906
21            Jalan Sukabumi No. 26\r\nBatu, SG 15858           0853316705
22  Jl. Kendalsari No. 21\r\nBau-Bau, Gorontalo 02942    +62 (44) 781 5744
23  Gang Jamika No. 43\r\nSorong, Sulawesi Barat 0...    +62 (84) 231-8406
24  Gang W.R. Supratman No. 78\r\nSorong, Sulawesi...     +62-060-374-6863
25  Gg. Stasiun Wonokromo No. 80\r\nBalikpapan, ST...  +62 (0748) 975-6355
26        Jl. Suniaraja No. 8\r\nKotamobagu, ST 86033     +62-535-749-3999
27       Gang Cihampelas No. 727\r\nCirebon, SU 28439   +62 (071) 659-1003
28     Jl. Dr. Djunjunan No. 457\r\nCilegon, RI 38972  +62 (0950) 721 1608
29        Jalan Kebonjati No. 057\r\nBatu, Aceh 04577      (0936) 648 4361
30   Gg. Gegerkalong Hilir No. 088\r\nTegal, AC 27409     +62-358-365-1184
31  Gang Pasteur No. 70\r\nPalopo, Sulawesi Tengah...       (067) 180 3600
32  Jalan Rawamangun No. 10\r\nTomohon, Bengkulu 1...     +62-926-987-4190
33  Gang M.T Haryono No. 7\r\nSorong, Jawa Timur 3...    +62 (28) 632 0800
34       Gg. Asia Afrika No. 42\r\nSalatiga, AC 64938         082 049 1763
35  Gang Bangka Raya No. 27\r\nMedan, Kalimantan T...         086 538 6323
36  Jl. W.R. Supratman No. 6\r\nProbolinggo, Bali ...    +62-0437-717-3727
37      Gg. Pasir Koja No. 13\r\nBanjarbaru, BE 74883   +62 (677) 846 9301
38  Gang Ahmad Dahlan No. 5\r\nKota Administrasi J...  +62 (0585) 457-5819
39  Jalan Yos Sudarso No. 9\r\nBengkulu, Maluku 53015       (021) 345-8177
40     Gg. Ahmad Yani No. 225\r\nKotamobagu, BE 82579      +62-33-075-6378
41  Gg. Monginsidi No. 213\r\nYogyakarta, Sulawesi...         083 854 6485
42  Gg. Gegerkalong Hilir No. 44\r\nPrabumulih, NB...      (0805) 702 7885
43         Jalan Lembong No. 4\r\nPontianak, NB 26914     +62-047-676-1389
44            Jl. Moch. Toha No. 5\r\nTegal, PA 45127      (0436) 596 3691
45  Jalan Siliwangi No. 28\r\nBogor, DI Yogyakarta...       (071) 551 8458
46           Gg. Pacuan Kuda No. 8\r\nTegal, NT 07260      (0076) 321 6834
47          Gg. Peta No. 2\r\nBanjarbaru, Papua 70077   +62 (000) 739-1918
48         Jl. Cikutra Timur No. 5\r\nTegal, NT 86479     +62-012-762-3967
49         Jl. Cikutra Timur No. 9\r\nDumai, JT 69289   +62 (219) 550 7430
50  Jalan Kendalsari No. 6\r\nTangerang Selatan, S...      +62-49-762-3182
51        Jl. Cempaka No. 696\r\nBanjarbaru, KR 90732       (056) 004-9835
52    Jl. R.E Martadinata No. 831\r\nLangsa, SB 43306       (080) 127-2108
53  Jalan Otto Iskandardinata No. 044\r\nBlitar, J...      +62-07-009-8057
54       Gg. Yos Sudarso No. 321\r\nTernate, GO 25418  +62 (0469) 420-8399
55          Jl. Monginsidi No. 5\r\nCirebon, BB 50268   +62 (050) 795-8398
56            Gang Joyoboyo No. 73\r\nBogor, BT 57434  +62 (0443) 963 0055
57  Jalan PHH. Mustofa No. 0\r\nTanjungbalai, MU 9...  +62 (0408) 216-7689
58  Jl. H.J Maemunah No. 955\r\nManado, Kepulauan ...  +62 (0751) 380 3352
59  Jalan Erlangga No. 76\r\nBontang, Sulawesi Ten...   +62 (066) 414 8791

                      country                               institute  \
0                     Georgia                    UD Prakasa Mandasari
1                 Korea Utara                  Universitas Diponegoro
2                      Komoro                UD Hardiansyah Puspasari
3                     Eritrea               Perum Tampubolon Yuliarti
4                    Aljazair                  PT Hardiansyah Rahimah
5                      Zambia                   CV Mardhiyah Haryanto
6                       Libya                       UD Irawan Wahyuni
7   Republik Demokratik Kongo                         Perum Purnawati
8                      Gambia        Universitas Bhayangkara Surabaya
9                       Palau             PD Pudjiastuti Palastri Tbk
10                  Finlandia                   Universitas Janabadra
11                       Mali       PD Andriani Gunarto (Persero) Tbk
12                      Ghana      Universitas Katolik Widya Manadala
13                 Uzbekistan  Universitas Muhammadiyah Sumatra Utara
14                   Botswana             Universitas Negeri Semarang
15                     Gambia                 PD Nugroho Latupono Tbk
16                       Iran                         UD Haryanti Tbk
17              Sudan Selatan                  Universitas Bung Hatta
18                  Indonesia       Universitas Muhammadiyah Makassar
19                    Georgia            Universitas Advent Indonesia
20                  Venezuela         UD Namaga Rahimah (Persero) Tbk
21                  Argentina                 STMIK AMIKOM Yogyakarta
22                     Brunei                     UD Prasetya Saragih
23                   Norwegia                       PD Sirait Prakasa
24                   Islandia          Universitas Komputer Indonesia
25                      Ghana               Universitas Proklamasi 45
26                    Rumania                 PT Waluyo (Persero) Tbk
27                     Malawi                          CV Saputra Tbk
28                      Haiti    Universitas 17 Agustus 1945 Semarang
29                 Kosta Rika                   Universitas Indonesia
30                      Samoa        Universitas Jenderal Achmad Yani
31                  Finlandia                       Perum Kuswoyo Tbk
32                    Rumania                Politeknik Negeri Padang
33                    Lesotho           Universitas Kristen Maranatha
34                   Djibouti               Perum Simanjuntak Halimah
35                     Siprus                   UD Rahayu Riyanti Tbk
36                      Chili                              UD Uyainah
37                    Lebanon        UD Pratiwi Siregar (Persero) Tbk
38                    Belarus           Bogor Agricultural University
39        Trinidad dan Tobago                           PD Napitupulu
40                      India                  Perum Dongoran Nuraini
41  Republik Demokratik Kongo            Universitas Muslim Indonesia
42                    Liberia              Universitas Tidar Magelang
43                    Belarus               UD Simanjuntak Nurdiyanti
44                 Kosta Rika                     Perum Utama Sitorus
45                     Yunani   Perum Yulianti Najmudin (Persero) Tbk
46                  Guatemala                Universitas Nusa Cendana
47                     Brunei             Perum Pranowo (Persero) Tbk
48                     Uganda         Universitas Bunda Mulia Jakarta
49        Federasi Mikronesia                Politeknik Negeri Padang
50              Guinea-Bissau     Perum Dabukke Gunawan (Persero) Tbk
51                  Finlandia              PD Maheswara (Persero) Tbk
52              Selandia Baru                   PD Kusmawati Najmudin
53                    Grenada                           CV Laksmiwati
54                Timor Leste                          PT Gunarto Tbk
55                   Hongaria     Institut Teknologi Sepuluh Nopember
56                   Norwegia                  CV Safitri Hastuti Tbk
57                      Ghana      Universitas Katolik Widya Manadala
58                     Gambia                CV Permadi (Persero) Tbk
59                  Singapura                Perum Laksita Kuswandari

                        occupation  register_time
0   Business Intelligence Engineer   1.620000e+09
1                Frontend Engineer   1.620000e+09
2                 Business Analyst   1.620000e+09
3                  DevOps Engineer   1.620000e+09
4                     Data Analyst   1.620000e+09
5                 Business Analyst   1.620000e+09
6                  Product Analyst   1.620000e+09
7                   Data Scientist   1.620000e+09
8                     Data Analyst   1.620000e+09
9               Fullstack Engineer   1.620000e+09
10                Flutter Engineer   1.620000e+09
11                  Data Scientist   1.620000e+09
12                  Data Scientist   1.620000e+09
13                 DevOps Engineer   1.620000e+09
14  Business Intelligence Engineer   1.620000e+09
15                 Product Analyst   1.620000e+09
16  Business Intelligence Engineer   1.620000e+09
17                   Data Engineer   1.620000e+09
18                  Data Scientist   1.620000e+09
19                 Product Manager   1.620000e+09
20               Frontend Engineer   1.620000e+09
21                 Mobile Engineer   1.620000e+09
22                 DevOps Engineer   1.620000e+09
23      Quality Assurance Engineer   1.620000e+09
24                Flutter Engineer   1.620000e+09
25      Quality Assurance Engineer   1.620000e+09
26                    Data Analyst   1.620000e+09
27      Quality Assurance Engineer   1.620000e+09
28               Frontend Engineer   1.620000e+09
29               Frontend Engineer   1.620000e+09
30      Quality Assurance Engineer   1.620000e+09
31                 DevOps Engineer   1.620000e+09
32                 DevOps Engineer   1.620000e+09
33                   Data Engineer   1.620000e+09
34                 Product Analyst   1.620000e+09
35              Fullstack Engineer   1.620000e+09
36              Fullstack Engineer   1.620000e+09
37                Backend Engineer   1.620000e+09
38                  Data Scientist   1.620000e+09
39                Business Analyst   1.620000e+09
40              Fullstack Engineer   1.620000e+09
41                 Product Analyst   1.620000e+09
42               Frontend Engineer   1.620000e+09
43               Frontend Engineer   1.620000e+09
44                 DevOps Engineer   1.620000e+09
45                Flutter Engineer   1.620000e+09
46                  Data Scientist   1.620000e+09
47                  Data Scientist   1.620000e+09
48                 Product Analyst   1.620000e+09
49                 Product Analyst   1.620000e+09
50               Frontend Engineer   1.620000e+09
51               Frontend Engineer   1.620000e+09
52               Frontend Engineer   1.620000e+09
53                 DevOps Engineer   1.620000e+09
54                Business Analyst   1.620000e+09
55  Business Intelligence Engineer   1.620000e+09
56                   Data Engineer   1.620000e+09
57              Fullstack Engineer   1.620000e+09
58              Fullstack Engineer   1.620000e+09
59                 DevOps Engineer   1.620000e+09

pandas.core.frame.DataFrame

## Transform
Transform merupakan proses melakukan transformasi data, atau perubahan terhadap data. Umumnya seperti:

1. Merubah nilai dari suatu kolom ke nilai baru
2. Menciptakan kolom baru dengan memanfaatkan kolom lain
3. Transpose baris menjadi kolom (atau sebaliknya)
4. Merubah format data ke bentuk yang lebih standar (contohnya kolom date, maupun datetime yang biasanya memiliki nilai yang tidak standar maupun nomor HP yang biasanya memiliki nilai yang tidak sesuai format standarnya). Dan lain-lain nya.

## Transform Bagian I - Kode Pos
Ada permintaan datang dari tim Logistik bahwa mereka membutuhkan kode pos dari peserta agar pengiriman piala lebih
mudah dan cepat sampai. Maka dari itu buatlah kolom baru bernama postal_code yang memuat informasi mengenai kode pos
yang diambil dari alamat peserta (kolom address). Diketahui bahwa kode pos berada di paling akhir dari alamat tersebut.

Note:
Jika regex yang dimasukkan tidak bisa menangkap pattern dari value kolom address maka akan menghasilkan NaN

In [120]:
df_participant['postal_code'] = df_participant['address'].str.extract(r'(\d+)$') #Masukkan regex Anda didalam fungsi extract
df_participant['postal_code'].head()

0    80734
1    09434
2    57739
3    76156
4    70074
Name: postal_code, dtype: object

In [121]:
df_participant['postal_code'] = df_participant['address'].str.extract(r'([0-9]+)$') #Masukkan regex Anda didalam fungsi extract
df_participant['postal_code'].head()

0    80734
1    09434
2    57739
3    76156
4    70074
Name: postal_code, dtype: object

## Transform Bagian II - Kota
Selain kode pos, mereka juga membutuhkan kota dari peserta. Untuk menyediakan informasi tersebut, buatlah kolom baru
bernama city yang didapat dari kolom address. Diasumsikan bahwa kota merupakan sekumpulan karakter yang terdapat
setelah nomor jalan diikuti dengan \n (newline character) atau dalam bahasa lainnya yaitu enter.

In [ ]:
df_participant['city'] = df_participant['address'].str.extract(r'\n(.+),') #Masukkan regex Anda didalam fungsi extract
df_participant['city'].head(20)

In [228]:
df_participant['city'] = df_participant['address'].str.extract(r'\n(.*),') #Masukkan regex Anda didalam fungsi extract
df_participant['city'].head(20)

0                               Medan
1                          Prabumulih
2                               Ambon
3                        Lubuklinggau
4                              Kediri
5                            Denpasar
6                           Samarinda
7                            Parepare
8                               Medan
9                              Bitung
10                             Kediri
11                            Bau-Bau
12                          Gorontalo
13                              Batam
14                          Pagaralam
15                   Tidore Kepulauan
16    Kota Administrasi Jakarta Barat
17                            Tarakan
18                              Depok
19                       Palangkaraya
Name: city, dtype: object

In [3]:
df_participant['city'] = df_participant['address'].str.extract(r'(?:\d+)\n+(\w+)') #Masukkan regex Anda didalam fungsi extract
df_participant['city'].head()

0    NaN
1    NaN
2    NaN
3    NaN
4    NaN
Name: city, dtype: object

In [ ]:
df_participant['city'] = df_participant['address'].str.extract(r'(.+),') #Masukkan regex Anda didalam fungsi extract
df_participant['city'].head(20)

## Transform Bagian III - Github
Salah satu parameter untuk mengetahui proyek apa saja yang pernah dikerjakan oleh peserta yaitu dari git repository
mereka. Pada kasus ini kita menggunakan profil github sebagai parameter nya. Tugas Anda yaitu membuat kolom baru
bernama github_profile yang merupakan link profil github dari peserta. Diketahui bahwa profil github mereka merupakan
gabungan dari first_name dan last_name yang sudah di-lowercase

In [123]:
df_participant['github_profile'] = 'https://github.com/' + df_participant['first_name'].str.lower() + df_participant['last_name'].str.lower()

In [124]:
print(df_participant['github_profile'].head())

0      https://github.com/citranurdiyanti
1         https://github.com/arissetiawan
2    https://github.com/corneliahandayani
3          https://github.com/solehrajasa
4           https://github.com/viviastuti
Name: github_profile, dtype: object

## Transform Bagian IV - Nomor Handphone
Jika kita lihat kembali, ternyata nomor handphone yang ada pada data csv kita memiliki format yang berbeda-beda. Maka dari itu, kita perlu untuk melakukan cleansing pada data nomor handphone agar memiliki format yang sama. Anda sebagai Data Engineer diberi privilege untuk menentukan format nomor handphone yang benar. Pada kasus ini mari kita samakan format nya dengan aturan:

1. Jika awalan nomor HP berupa angka 62 atau +62 yang merupakan kode telepon Indonesia, maka diterjemahkan ke 0 2.
2. Tidak ada tanda baca seperti kurung buka, kurung tutup, strip⟶ ()-
3. Tidak ada spasi pada nomor HP Nama kolom untuk menyimpan hasil cleansing pada nomor HP yaitu cleaned_phone_number

In [132]:
print(df_participant['phone_number'][1])

+62 (036) 461 7027

In [167]:
a=['+62 (036) 461 7027','62 (036) 461 7027','+62(001)4617027']
c=pd.DataFrame(a)
b="+62 (036) 461 7027"
print(c[0].astype("str").replace("+62","0"))
print(a[0])
print(a[0].replace("+62","0"))

0    +62 (036) 461 7027
1     62 (036) 461 7027
2       +62(001)4617027
Name: 0, dtype: object
+62 (036) 461 7027
0 (036) 461 7027

In [ ]:
#Masukkan regex anda pada parameter pertama dari fungsi replace
df_participant['cleaned_phone_number'] = df_participant['phone_number'].str.replace(r'(+?62)', '0')
df_participant['cleaned_phone_number'] = df_participant['cleaned_phone_number'].str.replace(r'[()-]', '')
df_participant['cleaned_phone_number'] = df_participant['cleaned_phone_number'].str.replace(r'(\s)', '')

In [ ]:
#Masukkan regex anda pada parameter pertama dari fungsi replace
df_participant['cleaned_phone_number'] = df_participant['phone_number'].str.replace(r'(+?62)', '0')
#df_participant['cleaned_phone_number'] = df_participant['cleaned_phone_number'].str.replace(r'[()-]', '')
#df_participant['cleaned_phone_number'] = df_participant['cleaned_phone_number'].str.replace(r'(\s)', '')
print(df_participant['cleaned_phone_number'].head())

In [226]:
#Masukkan regex anda pada parameter pertama dari fungsi replace
df_participant['cleaned_phone_number'] = df_participant['phone_number'].str.replace(r'[+]?62', '0')
df_participant['cleaned_phone_number'] = df_participant['cleaned_phone_number'].str.replace(r'[()-]', '')
df_participant['cleaned_phone_number'] = df_participant['cleaned_phone_number'].str.replace(r'(\s)', '')
print(df_participant[['phone_number','cleaned_phone_number']].head(20))

          phone_number cleaned_phone_number
0      (0151) 081 2706          01510812706
1   +62 (036) 461 7027          00364617027
2         089 833 6695           0898336695
3   +62 (418) 329-4756          04183294756
4           0812511835           0812511835
5    +62 (11) 369-7082           0113697082
6      (0244) 430 7220          02444307220
7   +62 (056) 931-9059          00569319059
8    +62 (11) 826-1289           0118261289
9    +62 (86) 156 1327           0861561327
10  +62 (004) 561 6831          00045616831
11    +62-304-075-1010          03040751010
12    +62-766-738-4901          07667384901
13     +62-57-926-3059           0579263059
14  +62 (447) 608 1087          04476081087
15      (093) 063-0588           0930630588
16  +62 (857) 263-5384          08572635384
17  +62 (631) 363 8240          06313638240
18    +62-783-529-5810          07835295810
19        083 504 5393           0835045393

In [13]:
#Masukkan regex anda pada parameter pertama dari fungsi replace
df_participant['cleaned_phone_number'] = df_participant['phone_number'].str.replace(r'^(\+62|62)', '0')
df_participant['cleaned_phone_number'] = df_participant['cleaned_phone_number'].str.replace(r'[()-]', '')
df_participant['cleaned_phone_number'] = df_participant['cleaned_phone_number'].str.replace(r'\s+', '')
print(df_participant[['phone_number','cleaned_phone_number']].head(20))

          phone_number cleaned_phone_number
0      (0151) 081 2706          01510812706
1   +62 (036) 461 7027          00364617027
2         089 833 6695           0898336695
3   +62 (418) 329-4756          04183294756
4           0812511835           0812511835
5    +62 (11) 369-7082           0113697082
6      (0244) 430 7220          02444307220
7   +62 (056) 931-9059          00569319059
8    +62 (11) 826-1289           0118261289
9    +62 (86) 156 1327           0861561327
10  +62 (004) 561 6831          00045616831
11    +62-304-075-1010          03040751010
12    +62-766-738-4901          07667384901
13     +62-57-926-3059           0579263059
14  +62 (447) 608 1087          04476081087
15      (093) 063-0588           0930630588
16  +62 (857) 263-5384          08572635384
17  +62 (631) 363 8240          06313638240
18    +62-783-529-5810          07835295810
19        083 504 5393           0835045393

## Transform Bagian V - Nama Tim
Dataset saat ini belum memuat nama tim, dan rupanya dari tim Data Analyst membutuhkan informasi terkait nama tim dari
masing-masing peserta. Diketahui bahwa nama tim merupakan gabungan nilai dari kolom first_name, last_name, country dan
institute.
Tugas Anda yakni buatlah kolom baru dengan nama team_name yang memuat informasi nama tim dari peserta.

In [172]:
def func(col):
    abbrev_name = "%s%s"%(col['first_name'][0],col['last_name'][0]) #Singkatan dari Nama Depan dan Nama Belakang dengan mengambil huruf pertama
    country = col['country']
    abbrev_institute = '%s'%(''.join(list(map(lambda x: x[0], col['institute'].split())))) #Singkatan dari value di kolom institute
    return "%s-%s-%s"%(abbrev_name,country,abbrev_institute)

df_participant['team_name'] = df_participant.apply(func, axis=1)

In [179]:
def func(col):
    abbrev_name = "%s%s"%(col['first_name'][0],col['last_name'][0]) #Singkatan dari Nama Depan dan Nama Belakang dengan mengambil huruf pertama
    country = col['country']
    abbrev_institute = '%s'%(''.join(list(map(lambda word: word[0], col['institute'].split())))) #Singkatan dari value di kolom institute
    return "%s-%s-%s"%(abbrev_name,country,abbrev_institute)

df_participant['team_name'] = df_participant.apply(func, axis=1)

In [180]:
print(df_participant['team_name'].head())

0       CN-Georgia-UPM
1    AS-Korea Utara-UD
2        CH-Komoro-UHP
3       SR-Eritrea-PTY
4      VA-Aljazair-PHR
Name: team_name, dtype: object

## Transform Bagian VI - Email
Setelah dilihat kembali dari data peserta yang dimiliki, ternyata ada satu informasi yang penting namun belum tersedia, yaitu
email. Anda sebagai Data Engineer diminta untuk menyediakan informasi email dari peserta dengan aturan bahwa format
email sebagai berikut:
```
Format email:
xxyy@aa.bb.[ac/com].[cc]

Keterangan:
xx -> nama depan (first_name) dalam lowercase
yy -> nama belakang (last_name) dalam lowercase
aa -> nama institusi

Untuk nilai bb, dan cc mengikuti nilai dari aa. Aturannya:
- Jika institusi nya merupakan Universitas, maka
  bb -> gabungan dari huruf pertama pada setiap kata dari nama Universitas dalam lowercase
  Kemudian, diikuti dengan .ac yang menandakan akademi/institusi belajar dan diikuti dengan pattern cc
- Jika institusi bukan merupakan Universitas, maka
  bb -> gabungan dari huruf pertama pada setiap kata dari nama Universitas dalam lowercase
  Kemudian, diikuti dengan .com. Perlu diketahui bahwa pattern cc tidak berlaku pada kondisi ini

cc -> merupakan negara asal peserta, adapun aturannya:
- Jika banyaknya kata pada negara tersebut lebih dari 1 maka ambil singkatan dari negara tersebut dalam lowercase
- Namun, jika banyaknya kata hanya 1 maka ambil 3 huruf terdepan dari negara tersebut dalam lowercase

Contoh:
  Nama depan: Citra
  Nama belakang: Nurdiyanti
  Institusi: UD Prakasa Mandasari
  Negara: Georgia
  Maka,Email nya: citranurdiyanti@upm.geo
  -----------------------------------
  Nama depan: Aris
  Nama belakang: Setiawan
  Institusi: Universitas Diponegoro
  Negara: Korea Utara
  Maka, Email nya: arissetiawan@ud.ac.ku
```

In [188]:
def func(col):
    first_name_lower = col['first_name'].lower()
    last_name_lower = col['last_name'].lower()
    institute = ''.join(list(map(lambda word: word[0], col['institute'].lower().split()))) #Singkatan dari nama perusahaan dalam lowercase

    if 'Universitas' in col['institute']:
        if len(col['country'].split()) > 1: #Kondisi untuk mengecek apakah jumlah kata dari country lebih dari 1
            country = ''.join(list(map(lambda word: word[0], col['country'].lower().split())))
        else:
            country = col['country'][:3].lower()
        return "%s%s@%s.ac.%s"%(first_name_lower,last_name_lower,institute,country)

    return "%s%s@%s.com"%(first_name_lower,last_name_lower,institute)

df_participant['email'] = df_participant.apply(func, axis=1)

In [190]:
df_participant['email'].head(10)

0        citranurdiyanti@upm.com
1          arissetiawan@ud.ac.ku
2      corneliahandayani@uhp.com
3            solehrajasa@pty.com
4             viviastuti@phr.com
5    bahuraksamangunsong@cmh.com
6           tiaramaryati@uiw.com
7            dimazgunarto@pp.com
8       zizipuspasari@ubs.ac.gam
9         cecepharyanto@pppt.com
Name: email, dtype: object

## Transform Bagian VII - Tanggal Lahir
MySQL merupakan salah satu database yang sangat populer dan digunakan untuk menyimpan data berupa tabel, termasuk data hasil pengolahan yang sudah kita lakukan ini nantinya bisa dimasukkan ke MySQL. Meskipun begitu, ada suatu aturan dari MySQL terkait format tanggal yang bisa mereka terima yaitu YYYY-MM-DD dengan keterangan:

* YYYY: 4 digit yang menandakan tahun
* MM: 2 digit yang menandakan bulan
* DD: 2 digit yang menandakan tanggal

Contohnya yaitu: 2021-04-07

Jika kita lihat kembali pada kolom tanggal lahir terlihat bahwa nilai nya belum sesuai dengan format DATE dari MySQL (Lihat lebih detail di: https://www.mysqltutorial.org/mysql-date/). Oleh karena itu, lakukanlah formatting terhadap kolom birth_date menjadi YYYY-MM-DD dan simpan di kolom yang sama.

In [193]:
df_participant['birth_date'] = pd.to_datetime(df_participant['birth_date'], format='%d %b %Y')

In [194]:
print(df_participant['birth_date'].head())

0   1991-02-05
1   1993-01-11
2   1993-07-31
3   1991-11-04
4   2003-01-22
Name: birth_date, dtype: datetime64[ns]

## Transform Bagian VII - Tanggal Daftar Kompetisi
Selain punya aturan mengenai format DATE, MySQL juga memberi aturan pada data yang bertipe DATETIME yaitu YYYY-MM-DD HH:mm:ss dengan keterangan:

* YYYY: 4 digit yang menandakan tahun
* MM: 2 digit yang menandakan bulan
* DD: 2 digit yang menandakan tanggal
* HH: 2 digit yang menandakan jam
* mm: 2 digit yang menandakan menit
* ss: 2 digit yang menandakan detik

_Contohnya yaitu: 2021-04-07 15:10:55_

Karena data kita mengenai waktu registrasi peserta (register_time) belum sesuai format yang seharusnya, maka dari itu Tugas Anda yaitu untuk merubah register_time ke format DATETIME sesuai dengan aturan dari MySQL. Simpanlah hasil tersebut ke kolom register_at.

In [208]:
df_participant['register_at'] = pd.to_datetime(df_participant['register_time'], unit='s')

In [209]:
print(df_participant['register_time'].head())

0    1.620000e+09
1    1.620000e+09
2    1.620000e+09
3    1.620000e+09
4    1.620000e+09
Name: register_time, dtype: float64

## Kesimpulan
Dengan begitu, tibalah kita di penghujung dari modul bagian Transform ini. Jika dilihat kembali, dataset Anda saat ini sudah berbeda dengan saat proses extract sebelumnya. Ada beberapa kolom tambahan yang memanfaatkan nilai kolom lain. Dataset Anda saat ini memuat kolom:

1. participant_id: ID dari peserta/partisipan hackathon. Kolom ini bersifat unique sehingga antar peserta pasti memiliki ID yang berbeda
2. first_name: nama depan peserta
3. last_name: nama belakang peserta
4. birth_date: tanggal lahir peserta (sudah diformat ke YYYY-MM-DD)
5. address: alamat tempat tinggal peserta
6. phone_number: nomor hp/telfon peserta
7. country: negara asal peserta
8. institute: institusi peserta saat ini, bisa berupa nama perusahaan maupun nama universitas
9. occupation: pekerjaan peserta saat ini
10. register_time: waktu peserta melakukan pendaftaran hackathon dalam second
11. team_name: nama tim peserta (gabungan dari nama depan, nama belakang, negara dan institusi)
12. postal_code: kode pos alamat peserta (diambil dari kolom alamat)
13. city: kota peserta (diambil dari kolom alamat)
14. github_profile: link profil github peserta (gabungan dari nama depan, dan nama belakang)
15. email: alamat email peserta (gabungan dari nama depan, nama belakang, institusi dan negara)
16. cleaned_phone_number: nomor hp/telfon peserta (sudah lebih sesuai dengan format nomor telfon)
17. register_at: tanggal dan waktu peserta melakukan pendaftaran (sudah dalam format DATETIME)

## Load
Pada bagian load ini, data yang sudah ditransformasi sedemikian rupa sehingga sesuai dengan kebutuhan tim Analyst dimasukkan kembali ke database yaitu Data Warehouse DWH. Biasanya, dilakukan pendefinisian skema database terlebih dahulu seperti:

1. Nama kolom
2. Tipe kolom
3. Apakah primary key, unique key, index atau bukan
4. Panjang kolomnya

Karena umumnya Data Warehouse merupakan database yang terstruktur sehingga mereka memerlukan skema sebelum data nya dimasukkan.

Pandas sudah menyediakan fungsi untuk memasukkan data ke database yaitu to_sql() . Detail dari fungsi tersebut bisa dilihat pada dokumentasi Pandas: https://pandas.pydata.org/docs/reference/api/pandas.DataFrame.to_sql.html